.col-sm-3{
    border: 1px solid;
    /* margin: .5%; */
    margin-top: 10px;
    
    /* margin-left: 2px; */
}
#hide{
    display: block;
}

.dropdown{
    color: aliceblue;
    float: right;
    text-align: center !important;
    padding: 7px 30px;
}
input{
    color: blue;
}
#dropdownMenuButton{
    cursor: pointer;
}
.dropdowntext{
    color: blue;
}