.wrapper{
    /* margin-top:10px; */
    border: 1px solid red;
    width: auto;
    /* height: 400px; */
}
.text-style-2 {
    
    font-family: OpenSans;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0e114c;
    margin-top: 30px;
  }
.text-style-1 {
    width: 289px;
    height: 20px;
    color: #0087ff;
    margin-left:150px;
  }
  .text-style-3{
      padding: 8px;
  }

.text-style-4{
    width: 316px;
    height: 52px;
    font-family: OpenSans;
    font-size: 38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0e114c;
    margin-left: 150px;
    padding:32px 0px 0px 0px;
}
.col-lg-12{
    margin-top: 30px;
}
.b{
    margin-top: 30px;
}